/* ESTILOS GERAIS */
/*Regras Antes da Media Query*/
h4{
    color: blue;
}

h1{
    color: blue;
}

/*Medias Queries*/
/* 2 - Sintaxe*/
@media screen and (max-width: 500px){
    /* MAX-WIDTH = TELAS MENORES QUE ALGUMA RESOLUÇÃO*/
    h1{
        color: blueviolet;
    }
}

/*3- Outros modos*/
/*screen, print, speech, all */
@media print and (max-width: 600px){
    h1{
        color: brown;
    }
}

/* 4 - Todos os modos */
@media (max-width: 700px){
    h2{
        color: purple;
    }
}

/* 5 - Mobile First*/
/* min-width > max-width --> telas menores p/ maiores*/
@media(min-width: 200px){
    h2{
        color: teal;
    }
}

/* 6- ADN na media query*/
@media (min-width: 300px) and (max-width:400px){
    h3{
        font-size: 3em;
    }
}

/*7 - Orientation*/
@media (orientation: landscape){
    h3{
        color: aquamarine;
    }
}

/*OR na media query*/
@media (max-width: 200px), (orientation: landscape){
    h3{
        font-size: 4em;
    }
}


/*9- Cuidado ao aplicar media query*/
@media (min-width: 600px){
    h4{
        color: red;
    }
}

/*10 - Breakpoints*/
h5{
    color: aqua;
    font-size: 2em;
}

/*480px - 768px = tablet*/
@media (min-width: 480px){
    h5{
        color: burlywood;
    }
}

/*768px - 1024px = telas menores, laptops*/
@media (min-width: 768px){
    h5{
        color: cadetblue;
    }
}

/*1024px - 1200px = desktop*/
@media (min-width: 1024px){
    h5{
        color: coral;
    }
}

/*1200 e + = telas maiores, tvs*/
@media (min-width: 1200px){
    h5{
        color: darkorchid;
    }
}


